@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
header {
  margin-bottom: 72px; }
  header nav {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0 0 20px; }
    header nav svg.logo {
      width: 65px; }
    header nav ul {
      width: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none; }

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 50px;
  min-height: 60vh;
  margin-bottom: 11.125rem;
  animation: 2s linear changeOpacity; }

@keyframes changeOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  #home div#home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #71e07c, #00b4cc);
    padding: 20px 40px; }
    #home div#home-text .line-title-1, #home div#home-text .line-title-2, #home div#home-text .line-title-3 {
      white-space: nowrap; }
    #home div#home-text .line-title-1 {
      font-size: 8rem; }
    #home div#home-text .line-title-2 {
      font-size: 3.313rem; }
    #home div#home-text .line-title-3 {
      line-height: 2em;
      font-size: 2rem; }

#about {
  padding: 0 15vw;
  margin-bottom: 11.125rem; }
  #about h2#title-about:not(span) {
    font-size: 91px; }
    #about h2#title-about:not(span):not(span) {
      -webkit-text-stroke: 2px black;
      -webkit-text-fill-color: transparent;
      font-family: "Lato"; }
    #about h2#title-about:not(span) span {
      margin-right: 30px; }
  #about .box-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px; }
    #about .box-about .info-about .info-name,
    #about .box-about .info-about .info-mail {
      font-size: 25px;
      line-height: 1em; }
      #about .box-about .info-about .info-name p,
      #about .box-about .info-about .info-mail p {
        font-weight: bold; }
      #about .box-about .info-about .info-name b,
      #about .box-about .info-about .info-mail b {
        font-weight: 500; }
    #about .box-about .info-about .info-mail {
      margin-bottom: 40px; }
    #about .box-about .info-about .box-symbols {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between; }
      #about .box-about .info-about .box-symbols .container-symbols {
        display: flex;
        justify-content: space-between; }
        #about .box-about .info-about .box-symbols .container-symbols:first-child {
          margin-bottom: 30px; }
        #about .box-about .info-about .box-symbols .container-symbols div.round,
        #about .box-about .info-about .box-symbols .container-symbols div.square {
          width: 10vw;
          height: 10vw;
          border: 0.35rem solid #71e07c; }
        #about .box-about .info-about .box-symbols .container-symbols .alt-i {
          font-size: 10vw; }
        #about .box-about .info-about .box-symbols .container-symbols div.round,
        #about .box-about .info-about .box-symbols .container-symbols div.square {
          margin-right: 30px; }
        #about .box-about .info-about .box-symbols .container-symbols div.round {
          border-radius: 50%; }
    #about .box-about .text-description {
      width: 50%; }
      #about .box-about .text-description span:not(.alt-download) {
        font-weight: lighter;
        display: inherit;
        font-size: 1.5rem;
        margin-bottom: 20px; }
      #about .box-about .text-description div {
        display: flex;
        justify-content: flex-end; }
        #about .box-about .text-description div .button-cv {
          text-align: right;
          font-size: 30px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 10px 25px;
          background-color: #71e07c;
          width: 50px;
          color: white;
          border-radius: 30px; }
          #about .box-about .text-description div .button-cv span {
            margin-right: 10px; }
  #about .box-interests h3.title-interests {
    font-size: 3rem;
    margin-bottom: 2em; }
  #about .box-interests .icons-interests {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    #about .box-interests .icons-interests span {
      font-size: 7em; }

#work {
  padding: 0 15vw;
  margin-bottom: 11.125rem; }
  #work h2 {
    margin-bottom: 45px; }
    #work h2 span {
      margin-right: 30px; }
  #work div.work-description {
    font-size: 1.3rem;
    margin-bottom: 100px; }
    #work div.work-description span {
      font-weight: bold; }
  #work .slider-container .slider-elements {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #work .slider-container .slider-elements .slider {
      width: 750px;
      height: 100%;
      overflow: hidden;
      position: relative; }
      #work .slider-container .slider-elements .slider .container-slides {
        display: flex; }
        #work .slider-container .slider-elements .slider .container-slides .img-slider {
          width: 100%;
          height: auto; }
    #work .slider-container .slider-elements .btn-left,
    #work .slider-container .slider-elements .btn-right {
      outline: none;
      border: none;
      cursor: pointer;
      background: none; }
      #work .slider-container .slider-elements .btn-left span,
      #work .slider-container .slider-elements .btn-right span {
        font-size: 12rem; }
  #work .slider-container .container-btn-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 30vw; }
    #work .slider-container .container-btn-slider .btn-slider {
      width: 25px;
      height: 25px;
      border: 2px solid #71e07c;
      border-radius: 50%; }
  #work .slider-container .selected {
    background-color: #71e07c; }
  #work .slider-container #text-category {
    text-align: center;
    font-size: 2rem;
    margin-top: 0 !important; }

#skills {
  padding: 0 15vw;
  margin-bottom: 11.125rem; }
  #skills h2 {
    margin-bottom: 45px; }
    #skills h2 span {
      margin-right: 30px; }
  #skills .skills-description {
    margin-bottom: 50px; }
    #skills .skills-description p {
      font-size: 1.3rem;
      padding: 0 95px;
      line-height: 40px; }
  #skills .container-skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px; }
    #skills .container-skills .bar {
      width: 25vw; }
      #skills .container-skills .bar h3 {
        text-align: center;
        font-size: 2rem; }
      #skills .container-skills .bar div.bar-item div.bar-progress {
        width: 100%;
        height: 20px;
        border-radius: 10px;
        background-color: #e3e3e3;
        display: flex;
        align-items: center; }
        #skills .container-skills .bar div.bar-item div.bar-progress .bar-inner {
          height: 66%;
          width: 25%;
          border-radius: 10px;
          margin-left: 5px;
          background-color: #71e07c; }
          #skills .container-skills .bar div.bar-item div.bar-progress .bar-inner.progress-active {
            transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1); }
  #skills div.soft-skills h3 {
    text-align: center;
    font-size: 2rem; }
  #skills div.soft-skills div.soft-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 300px; }
    #skills div.soft-skills div.soft-elements p, #skills div.soft-skills div.soft-elements span {
      font-size: 1.4rem; }
    #skills div.soft-skills div.soft-elements span {
      color: #71e07c; }

#contact {
  padding: 0 15vw;
  margin-bottom: 11.125rem; }

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?bi9ank");
  src: url("fonts/icomoon.eot?bi9ank#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?bi9ank") format("truetype"), url("fonts/icomoon.woff?bi9ank") format("woff"), url("fonts/icomoon.svg?bi9ank#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

.alt-i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.alt-chevron-left:before {
  content: ""; }

.alt-chevron-right:before {
  content: ""; }

.alt-cat:before {
  content: ""; }

.alt-japan:before {
  content: ""; }

.alt-web-development:before {
  content: ""; }

.alt-losange:before {
  content: "";
  color: #70df7c; }

.alt-download:before {
  content: ""; }

.alt-logo:before {
  content: ""; }

.alt-computer:before {
  content: "";
  color: #70df7c; }

.alt-coffee:before {
  content: ""; }

.alt-settings:before {
  content: "";
  color: #70df7c; }

.alt-game-controller:before {
  content: ""; }

.alt-mail:before {
  content: ""; }

.alt-discord .path1:before {
  content: "";
  color: black; }

.alt-discord .path2:before {
  content: "";
  margin-left: -1em;
  color: #7289da; }

.alt-discord .path3:before {
  content: "";
  margin-left: -1em;
  color: #7289da; }

.alt-github .path1:before {
  content: "";
  color: black; }

.alt-github .path2:before {
  content: "";
  margin-left: -1em;
  color: #161514; }

.alt-github .path3:before {
  content: "";
  margin-left: -1em;
  color: #161514; }

.alt-github .path4:before {
  content: "";
  margin-left: -1em;
  color: #161514; }

.alt-github .path5:before {
  content: "";
  margin-left: -1em;
  color: #161514; }

.alt-github .path6:before {
  content: "";
  margin-left: -1em;
  color: #161514; }

.alt-github .path7:before {
  content: "";
  margin-left: -1em;
  color: #161514; }

.alt-github .path8:before {
  content: "";
  margin-left: -1em;
  color: #161514; }

.alt-linkedin .path1:before {
  content: "";
  color: #0077b5; }

.alt-linkedin .path2:before {
  content: "";
  margin-left: -1em;
  color: white; }

.alt-twitter .path1:before {
  content: "";
  color: #55acee; }

.alt-twitter .path2:before {
  content: "";
  margin-left: -1em;
  color: white; }

.alt-cross:before {
  content: "";
  color: #70df7c; }

.alt-user:before {
  content: "";
  color: #70df7c; }

body {
  font-family: "Cabin", sans-serif; }

nav ul {
  font-weight: bold;
  font-size: 20px; }

b {
  color: #71e07c; }

h2 {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  font-family: "Lato";
  font-size: 91px; }
  h2 span.alt-i {
    -webkit-text-fill-color: #71e07c !important;
    -webkit-text-stroke: transparent; }

html,
body {
  margin: 0;
  padding: 0; }
